name: 'build-test'
on:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install TFX
        run: npm install -g tfx-cli
      - run: |
          npm install
      - run: |
          npm run all
      - uses: actions/upload-artifact@v4
        with:
          name: vsix
          path: ms-aps-msstorecli.microsoft-store-developer-cli-task-*.vsix

  test-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '9.0.x'
      - uses: ./
      - run: msstore --version

  test-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '9.0.x'
      - uses: ./
      - run: msstore --version

  test-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '9.0.x'
      - uses: ./
      - run: msstore --version